html {
  height: 100%;
  width: 100%;
}
body {
  background: #fff;
  font-family: "Ubuntu", sans-serif;
  font-weight: normal;
  color: #787878;
  margin-top: 70px;
}
a {
  color: #00b7ff;
}
.btn {
  border-radius: 0 !important;
  border-color: #787878 !important;
}
.navbar {
  background: #fff;
  height: 50px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-top: 2px;
}
.navbar-brand {
  color: #777 !important;
  font-weight: bold;
  margin-left: -39px;
}
.navbar-brand-button {
  background: transparent;
  width: 40px;
  height: 30px;
  line-height: 40px;
  float: left;
  cursor: pointer;
  border: none;
  position: relative;
}
.navbar-brand-image {
  height: 40px;
  margin-top: -10px;
  margin-left: 5px;
}
.orange {
  margin-top: 30px;
  background-color: #e95420;
  padding-bottom: 50px;
  padding-top: 50px;
}
.white {
  margin-top: 30px;
  background-color: #fff;
  padding-bottom: 50px;
  padding-top: 50px;
}
.black {
  margin-top: 30px;
  background-color: #000;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer {
  margin-bottom: 10px;
  color: #777 !important;
  font-weight: bold;
}
.parent {
  position: relative;
}
.child {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
